<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Articles Index</h1>
    <%= link_to "New Article", new_article_path %>
    <% @articles.each do |article| %>
      <div class="well">
        <div>
          <strong>Title:</strong>
          <%= article.title %>
        </div>
        <div>
          <%= article.text %>
        </div>
      </div>
    <% end %>
  </div>
</div>