<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <div>
        <strong>Title:</strong>
        <%= @article.title %>
      </div>
      <div>
        <strong>Text:</strong>
        <%= @article.text %>
      </div>
    </div>
    <%= link_to 'Back', articles_path %>
  </div>
</div>