<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <div>
        <strong>Title:</strong>
        <%= @article.title %>
      </div>
      <div>
        <strong>Text:</strong>
        <%= @article.text %>
      </div>
    </div>
    <%= link_to 'Back to index', articles_path %><br>
    <%= link_to 'Edit', edit_article_path(@article) %>
  </div>
</div>